body {
  background: #6068a3;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  align-items: center;
}

.holder.headline {
  margin-top: 40px;
  margin-bottom: 80px;
}

#entryHolder {
  position: relative;
  padding: 40px 10%;
  border-radius: 20px;
  background: #fff;
  color: #53627c;
  max-width: 170px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#date {
  margin-bottom: 22px;
  font-size: 15px;
  color: #bb4430;
}

#temp {
  font-size: 50px;
}

#content {
  color: #bb4430;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  height: 40px;
  width: 320px;
  background: none;
  color: #fff;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  border: none;
  border-bottom: 1px solid;
  margin-bottom: 20px;
  /* padding: 5px 5px 10px; */
}

button {
  width: 370px;
  height: 70px;
  background: #bb4430;
  color: #fff;
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 5px;
}

.msg {
  margin-bottom: 20px;
  color: #e2ff00;
  font-size: 20px;
}

h1 {
  font-size: 36px;
}

textarea {
  background: none;
  color: #fff;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  border: 1px solid;
  margin-bottom: 20px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #fff;
  font-family: "Roboto", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
  font-family: "Roboto", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
  font-family: "Roboto", sans-serif;
}
